*{
    margin : 0px;
    padding : 0px;
}

.question_list{
    height: 100vh;
    width : 100%;
    list-style: none;

}

.question_container{
    width : 90%;
    height : 70px;
    margin-left: 5%;
    margin-right : 5%;
    border : 1px solid rgb(66, 64, 64);
    margin-bottom: 10px;
    margin-top:10px;
    
}

.question{
    position : relative;
    left : 5px;
    top : 5px;
    margin-bottom: 0px;
    right : 0px;
    width : calc(100% - 30%);
    height : 90%;
    margin-right : 0px;
    float: left;
    text-align: left;
    padding-left: 10px;
    overflow: hidden;
    display: block;
    color: black;
    
}

.difficulty_box{
    float: right;
    position: relative;
    right : 10px;
    top : 10px;
    font-size: large;
    font-style: italic;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
}


.faculty_name{
    position: relative;
    clear : right;
    top : 18px;
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: right;
    padding-right: 20px;
    margin-left : 72%;
    font-size: large;
    font-style: italic;
    color: black;
    text-decoration: none;
}


/* CSS for one question only*/


.Question_container{
    width : calc(100% - 20%);
    margin-left: 5%;
}


.heading{
   margin-left : 50px;
   margin-top : 30px;
   text-align: start;
   text-decoration: underline; 
   font-size: 20px;
}

.ex_questionName{
    margin-left : 60px;
    text-align: start;
    font-size: 15px;
    width : calc(100% - 30%);
    height: auto;
    margin-top: 10px;
    
}

.ex_explanation{
    margin-left : 60px;
    text-align: start;
    font-size: 15px;
    width : calc(100% - 30%);
    height: auto;
    margin-top: 10px;
    
}

.ex_input{
    margin-left : 60px;
    text-align: start;
    font-size: 15px;
    width : calc(100% - 30%);
    height: auto;
    margin-top: 10px;
    
}

.ex_output{
    margin-left : 60px;
    text-align: start;
    font-size: 15px;
    width : calc(100% - 30%);
    height: auto;
    position: relative;
    margin-top: 10px;
    
    
}

.compile_container{

}

.language_select{

}
.code_input {
    width: 600px;
	height: 600px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
    font-size: 13px;
    margin-top : 10px;
}

.compile_code{
    font-size: 20px;
    margin-top : 20px;
    margin-bottom : 20px;
    font-family: 'Times New Roman', Times, serif;
}

.code_output{
    width : 600px;
    height : 200px;
    border: 3px solid #cccccc;
    font-size: 13px;
}